* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.App {
  text-align: center;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.grid div {
  display: flex;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 20px 10px;
  color: #000000;
  background-color: #ffffff;
  width: 100%;
  top: 0;
}

.navbar h1 {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
}

.nav-dropdown {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}

.dropdown {
  height: 30px;
  font-size: 12px;
}

.selectName {
  font-weight: 500;
  font-size: 14px;
}

.grid {
  padding-top: 20px;
}

.node {
  width: 25px;
  height: 25px;
  border: 1px solid #e2e2e2;
  display: inline-block;
  box-sizing: border-box;
}

.node-start {
  background-color: rgb(0, 197, 53);
}

.node-end {
  background-color: rgb(255, 0, 0);
}

.node-wall {
  background-color: rgb(0, 0, 0);
}

.node-visited {
  background-color: #93dfe9;
}

.node-shortest-path {
  background-color: rgb(5, 255, 5);
}

@media (max-width: 600px) {
  .node {
    width: 15px;
    height: 15px;
  }

  .App {
    padding-bottom: 30px;
  }
}

@media (min-width: 600px) {
  .navbar {
    position: relative;
  }

  .nav-dropdown {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
  }

  .dropdown {
    font-size: 14px;
  }

  .selectName {
    font-size: 16px;
  }

  .App {
    padding-bottom: 50px;
  }
}

.footer {
  margin-top: 20px;
}

.footer a {
  text-decoration: underline;
  color: #0080ff;
  text-underline-offset: 3px;
}
