* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  padding: 20px 20px;
}

.nav-dropdown {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.dropdown {
  font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
  gap: 1px;
}

.node {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: lightblue;
  transition: background-color 0.3s ease;
}

.node-shortest-path {
  background-color: yellow;
  transition: background-color 0.3s ease;
} */

/* src/index.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.grid > div {
  display: flex;
}

.node {
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.node-start {
  background-color: green;
}

.node-end {
  background-color: red;
}

.node-wall {
  background-color: black;
}

.node-visited {
  background-color: #add8e6;
  transition: background-color 0.3s ease;
}

.node-shortest-path {
  background-color: yellow;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .node {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 480px) {
  .node {
    width: 15px;
    height: 15px;
  }
}

.node-visited {
  background-color: #add8e6;
  transition: background-color 0.3s ease;
}

.node-shortest-path {
  background-color: yellow;
  transition: background-color 0.3s ease;
}
